body {
  background-color: #000;
  background-image: radial-gradient(rgb(133, 133, 133) 1px, transparent 1px),
                    radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  color: white;
  font-family: Arial, sans-serif;
}