body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url("taust.jpg");
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  background-attachment: fixed;   
  color: white;
  font-family: Arial, sans-serif;
}



.link-boxes {
  padding-left: 50px;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 35px;
  border: 2px solid rgb(45, 15, 66); 
  background-color: rgb(42, 42, 78);
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.box:hover {
  background-color: rgb(52, 51, 51);
  color: black;
}

